$color-bg: #f1f0f8;
$color-surface: #ffffff;
$color-text: #1f2028;
$color-text-secondary: #5f6478;
$color-primary: #2452ff;
$color-primary-dark: #173cdf;
$color-border: #d9d8df;

$desktop: 1300px;
$tablet: 920px;
$mobile: 500px;
