.field-select-wrap {
  display: grid;

  &__error {
    margin: 6px 0 0;
    color: #ff5631;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.field-select {
  width: 100%;
  min-height: 50px;
  padding: 0 16px;
  border: 1px solid #e1ded0;
  border-radius: 6px;
  background-color: #f9f5e3;
  color: #1f2028;
  font-size: 16px;
  font-weight: 500;

  &:focus {
    border-color: #5b35d5;
    box-shadow: 0 0 0 1px #5b35d5;
    outline: 0;
  }

  &--invalid {
    border-color: #ff5631;
    box-shadow: 0 0 0 1px #ff5631;
  }
}
